@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ul>
        <li><a asp-controller="Sitemap" asp-action="SitemapIndex" target="_blank">View sitemap index</a></li>
        <li><a asp-controller="Sitemap" asp-action="SitemapHome" target="_blank">View sitemap home</a></li>
    </ul>
</div>